.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #1d2049;
  
  & nav {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .logo {
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: none;

      @media screen and (max-width: 992px) {
        display: inline-block;
      }

      .dropdown-toggle {
        cursor: pointer;
      }

      .dropdown-content {
        display: block;
        position: absolute;
        background-color:#1d2049;
        min-width: 300px;
        z-index: 1;
        top: 4.5em;
        right: -2em;
        text-align: center;
        transition-duration: 600ms;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .activeLink {
          border: none;
        }
        
        button{
          background: unset;
          padding: unset;
          margin: 0 auto;
        }
      }

      .dropdown-content a {
        color: #fff;
        padding: 20px;
        display: block;
      }
      
    }
  }

  .gap {
    nav{
        display: flex;
        gap: 1rem;
        margin: 0 auto;

        .bg{
          color: #fff;
        }
    }

    @media screen and (max-width: 992px) {
      display: none;
    }
}
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
  
  @media screen and (max-width: 992px) {
    .none {
      display: none;
    }
  }
  
}


